<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflow</title>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="blue-grey lighten-4">
      <ul>
        <li><%= link_to "Snack Overflow", questions_path, class: "black-text" %></li>
        <% if logged_in? %>
          <li><%= link_to "Ask a Question", new_question_path, class: "black-text" %></li>
          <li><%= link_to "#{current_user.username}", user_path(current_user), class: "black-text" %></li>
          <li><%= link_to "Log Out", session_path(session), method: :delete, class: "black-text" %></li>
        <% else %>
          <li><%= link_to "Create an Account", new_user_path, class: "black-text" %></li>
          <li><%= link_to "Log In", new_session_path, class: "black-text" %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
